*, body{
    margin: 0;
    padding: 0;
}

.formulario-modal {
    width: 1000px;
    margin: 10vh auto;
    background-color: #fff;
    padding: 5%;
    border-radius: 5px;
    box-shadow: -6px 5px 26px -6px rgba(0,0,0,0.46);
}

div .form-floating {
    margin-top: 20px;
    margin-bottom: 20px;
}
div .grupo-input {
    margin-top: 20px;
    margin-bottom: 20px;
}
